<div class="content">
    <div class="text-box">
        <h1 class="body-title accent-font">projects</h1>
    </div>
    <div class="image-box">
        <img src="images/department.png" class="item-small right">
        <img src="images/imperial.png" class="item-small mid">
        <img src="images/attention.png" class="item-small left">
    </div>

    <br class="gap">

    <div class="text-box">
        <h1 class="body-title accent-font">about this</h1>
    </div>
    <p> As you can see I've put a few placeholder design projects I've done in here for
        demonstration, but this page can be useful for a lot more. I'll leave the specific formatting
        to you, but a page like this one is essential. Links and images that show or demonstrate work 
        you've done are the core of any portfolio.
    </p>
    <p> Try changing the size of the webpage to watch the images flexibly move around! The framework
        I've set up here, and across the website, is optimized to be as flexible as possible so that 
        it can be rendered at any standard resolution, whether on a computer, a phone or a tablet.
    </p>

    <br class="gap">

</div>
