<div class="content">
    <div class="text-box">
        <h1 class="body-title accent-font">about me</h1>
    </div>
    <p> I'm Gideon (but I go by <span class="accent-body">chimerabot</span> in most places online).
        As of the time of writing, I'm a second-year computer science student at Colorado State University.
    </p>
    <p> Currently, I work with the Sustain lab here at CSU on a couple of projects involving geospatial data,
        including a cool web app called SoilTwin. I do most of its UI design, working on features that let users
        animate data on a map across time and build queries that show the intersections between different datasets.
    </p>
    <p> Some of my hobbies include cooking, climbing, writing, gamedev, and playing the trombone. I've always loved
        working with computers, though, and this template is no exception!
    </p>
    <p> You can reach me on GitHub <a class="accent-body" href="https://github.com/Chimerabot">@Chimerabot</a>, 
        or by email at <a class="accent-body" ailto="gideon@lo-fi.net">gideon@lo-fi.net</a>.
    </p>

    <br class="gap">

    <div class="text-box">
        <h1 class="body-title accent-font">about this</h1>
    </div>
    <p>What YOU really want to know, of course, is that this is a template About page! You could put a picture of
       yourself here, or copy-paste your resume, or do just about anything you like. Every good portfolio has a 
       little bit of useful info about the person who made it.
    </p>
    
    <br class="gap">
</div>
