<div class="content">
    <div class="text-box">
        <h1 class="body-title accent-font">what is this site about?</h1>
    </div>
    <p> Looking for somewhere to set up an online portfolio? Annoyed with the mainstream, personality-scrubbed,
        non-customizable sites that seemed like the only option? Then you've come to the right spot!
    </p>
    <p> <a class="accent-body" href="https://github.com/Chimerabot/chimera-portfolio">chimera-portfolio</a> is your new 
        digital business card: a simple, static, 100% free website template that YOU can download, customize, and make 
        your own.
    </p>
    <p> Built with nothing but HTML, CSS, and a dash of JavaScript, it's a perfect starting point for beginners to web
        design, and more customizable than any drag-and-drop website creator will ever be. Ever wanted to have a personal 
        website that was <em>truly</em> yours? This is it.
    </p>

    <br class="gap">

    <div class="text-box">
        <h1 class="body-title accent-font">wait, really?</h1>
    </div>
    <p> It's true! I've done the heavy lifting of setting up the basic framework so you can stylize it however
        you see fit. And, the more you want to get out of this template, the more you'll be able to do. Even
        just a little bit of extra knowledge about HTML and CSS will get you a long way!
    </p>
    <p> With this template, you can express your vision to your heart's content. Keep it simple and put in your
        own text, colors, images, and info, or go all-out and build whole new custom pages and formatting. The only 
        limit is your imagination!
    </p>

    <br class="gap">

    <div class="text-box">
    <h1 class="body-title accent-font">but I know nothing at all about websites!</h1>
    </div>
    <p> That's no problem either. This site's files are designed to be as easy to modify as possible, and though you
        may find that there's a bit of a learning curve to web design, you can always check out the Setup 
        page (or just go to Google!) if you start feeling lost.
    </p>

    <br class="gap">
</div>
