<div class="content">
    <div class="text-box">
        <h1 class="body-title accent-font">how to set up this template</h1>
    </div>
    <p> It's really pretty simple - though I can't give a comprehensive tutorial on web design
        all in one little webpage, like I've said throughout the site, I've done my best to
        optimize this template for the most painless editing process possible.
    </p>
    <p> Let's start from the top. First, you'll need to go to the 
        <a class="accent-body" href="https://github.com/Chimerabot/chimera-portfolio">chimera-portfolio</a> 
        GitHub page (just click the link). Download your own copy, and then you're halfway done. 
        Congratulations! There's one more step, however, that makes everything come together.
    </p>
    <p> As you may have noticed, this site is hosted on <a class="accent-body" href="neocities.org">Neocities</a>, 
        a static, free website host that's super easy to set up. This is by far the easiest, quickest way to host
        this template! If you want, you could take the files you downloaded and put them right into a new Neocities 
        site. It's got a great built-in editor that you can use to tweak everything without too much trouble.
    </p>
    <p> If you're more tech-savvy, I recommend trying what I did for this site: creating your own GitHub
        repository for your copy of the template, and setting up a special GitHub Action that automatically
        uploads the site to Neocities for you whenever you change it. Convenient!
    </p>
    <p> <a class="accent-body" href="https://github.com/marketplace/actions/deploy-to-neocities">Click here</a> 
        for the tutorial on how to set up that system.
    </p>

    <br class="gap">

    <div class="text-box">
        <h1 class="body-title accent-font">what about customization?</h1>
    </div>
    <p> Within the file structure of this site (which I recommend you check out over on GitHub), I've made
        sure to split everything up into simple pieces. All the colors, styling, and spacing lives in the 
        "style" folder; all the HTML and text is divided up into convenient bite-sized pieces in the 
        "fragments" folder; and the index.html file ties it all together.
    </p>
    <p> I've documented all the important pieces with comments that should help you along the way, especially
        if you're only somewhat familiar with how CSS and HTML work.
    </p>
    <p> That being said, this site obviously doesn't have the drag-and-drop simplicity of website creators
        online. After all, this is only a template! The more advanced your customization gets, the harder
        it'll get too. So make sure to take it slow, because the end result will be well worth it: A site 
        that's yours in and out.
    </p>
</div>
