<aside class="sidebar">

    <img class="logo" src="images/minlogoshine.png">

	<div class="text-box text-box-dark">
		<h2 class="title-font gradient-orange-white">navigation</h2>
	</div>

	<button class="text-box sidebar-button accent-font" type="button" data-fragment="home">home</button>
	<button class="text-box sidebar-button accent-font" type="button" data-fragment="about">about</button>
	<button class="text-box sidebar-button accent-font" type="button" data-fragment="projects">projects</button>
	<button class="text-box sidebar-button accent-font" type="button" data-fragment="contact">contact</button>

</aside>
